img{
    width: 150px;
}

header{
    background-color: #ffc1d5 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    margin-left: 40px;
    background-color: #46220f;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#botoes {
    margin-right: 100px;
}

#fotos img{
    width: 500px;
    height:500px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: transform 1s;

}

#fotos {
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #bf9780;
    overflow: hidden;
    
}

img:hover { transform: scale(1.1);}   

a{
    color: white;
}







