header{
    background-color: #ffc1d5 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button{
    margin-left: 40px;
    background-color: #46220f;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 70px;
}

#botoes {
    margin-right: 100px;
}

#fotos img{
    width: 500px;
    height:500px;
    margin-left: 50px;

}

#fotos {
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 70px;
}




